.img__box {
    display: flex;
    margin-bottom: 60px;
}

.services__title {
    margin-bottom: 30px;
}

.services__link {
    text-decoration: none;
}

.services__desc {
    width: 500px;
}

.sub__desc__box {
    width: 300px;
    margin-left: 20px;
}